body{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 250%;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 200%;
  line-height: 1.5;
}
h4{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

p{
  color: #8f8f8f;
}

#title{
  color: white;
  background-color: #ff4c68;
}

#features{
  padding: 10%;
  background-color: white;
  position: relative;
  z-index: 1;

}

#testimonials{
  color: white;
  background-color: #ff4c68;
  text-align: center;
}

#press{
  background-color: #ff4c68;
  text-align: center;
}

#pricing{
  text-align: center;
  padding:120px;
}

#cta{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
  font-size: 180%;
  line-height: 1.5;
  background-color: #ff4c68;
  color: white;
  text-align: center;
  padding:130px 200px;
}

#footer{
  background-color: white;
  color: black;
  text-align: center;
  padding: 2% 5% 5% 5%;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0px 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
}

.download-btn1{
  margin: 5% 3% 5% 0;
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 125px;
}

.features-box{
  text-align: center;
  padding: 5%;
}

.checkbox{
  width: 25%;
  margin-bottom: 20px;
}

.target{
  width: 25%;
  margin-bottom: 20px;
}

.heart{
  width: 25%;
  margin-bottom: 20px;
}

.testimonials-image{
  width: 15%;
  border-radius: 100%;
  margin: 30px;
}

.press-logo{
  padding-bottom: 50px;
  width: 15%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

.download-btn{
  margin: 30px 10px;
}

.apple{
  position: relative;
  bottom: 4px;
}

.google{
  position: relative;
  bottom: 3px;
}

.footer-image{
  padding: 40px 20px;
}

@media (max-width:990px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
    width: 40%;
  }
}
